.content {
	font-size: 12px;
	padding: 0;
	width: calc(100% - 115px);
	margin: 0 auto;
	}

.content:after {
	content: '';
	display: block;
	clear: left;
}

.extra {
	height: 100px;
	width: 980px;
}

.fontsize {
	font-size: 18px
	color: green;
}
.castbox {
	float: left;
	margin: 0 5px;
	text-align: center;
	padding: 5px;
	width: 120px;
}
.bio { 
	visibility: hidden;
	/*display: none;*/
	/*position: absolute;*/
	/*bottom: 20px;*/
}
.castbox:hover > .bio {
	/*display:block;*/
	visibility: visible;
	font-size: 16px;
	text-align: inherit;
	overflow: auto;
	height: 270px;

} 

.name {
	font-size: 20px;
	font-weight: bolder;
	font-family: arial, helvetica, times;
	font-style: oblique;
	color: green;
}

.career {
	font-size: 18px;
	font-weight: inherit;
	color: red;
}

#slideshow {
	margin: 0 auto;
	text-align: center;
	height: 326px;
	/*width: 980px*/
	background: url("../images/credits/moviebackground.jpg");
}

@media (min-width: 220px) and (max-width: 880px) { 
	#content {
		display: none;
}

    .slideshow {
	width: 970px;
   }
}