.cast {
	font-size: 12px;
	padding: 0px;
	width: calc(100% - 115px);
	margin: 0 auto;
}
.content {
	
	background: url(../images/credits/back1.jpg)no-repeat;
 }

.content:after {
	content: '';
	display: block;
	clear: left;
}



.castbox {
	float: left;
	margin: 0 5px;
	text-align: center;
	padding: 5px;
	width: 120px;
}

.extra {
	position: absolute; 
	top: 350px; 
	right: ;
}
.bio { 
	visibility: hidden;
	/*display: none;*/
	/*position: absolute;*/
	/*bottom: 20px;*/
}
.castbox:hover > .bio {
	/*display:block;*/
	visibility: visible;
	font-size: 16px;
	text-align: inherit;
	overflow: auto;
	height: 240px;
	color: #CCCCCC;

} 

.name {
	font-size: 20px;
	font-weight: bolder;
	font-family: arial, helvetica, times;
	font-style: oblique;
	color: green;
}

.career {
	font-size: 18px;
	font-weight: inherit;
	color: red;
}

#slideshow {
	margin: 0 auto;
	text-align: center;
	padding: 0;
	/*width: 980px*/
	background: url("../images/credits/moviebackground.jpg")no-repeat;
}

.extra {
	display: none;
}

@media (min-width: 1680px) { 
	.extra {
		top: 350px;
		right: 5px;
		position: absolute;
		display: block;
	}
}