img {
	float: left;
}

#merchandise {
	width: calc(100% - 200px);
	margin: 0 auto;
	text-align: center;
}


h1 {
	color: #FFF;
}

#content-merch{
	/* For Safari 5.1 to 6.0 */
	background: -webkit-repeating-radial-gradient(#c8a409, #256612 10%, #dfb501 15%);
	/* For Opera 11.6 to 12.0 */
	background: -o-repeating-radial-gradient(#c8a409, #256612 10%, #dfb501 15%);
	/* For Firefox 3.6 to 15 */
	background: -moz-repeating-radial-gradient(#c8a409, #256612 10%, #dfb501 15%);
	/* Standard syntax */
	background: repeating-radial-gradient(#c8a409, #256612 10%, #dfb501 15%);
}

.card-container {
  position: relative;
  margin: 10px auto;
  width: 192px;
  height: 240px;
  z-index: 1;
  float: left;
}

.card-container {
	-webkit-perspective: 1000;
	perspective: 1000;
}

.card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1.0s linear;
  transition: all 1.0s linear;
}

.card-container:hover > .card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #000000;
}

.shadow {
	/*box-shadow: 5px 5px 5px #aaa;*/
	/*margin-bottom: 10px;*/
}

.hover {
	cursor: pointer;
}

.face {
  	position: absolute;
  	width: 100%;
  	height: 100%;
	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
}

.face.back {
  display: block;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #129f12;
  overflow: auto;
}

.face.back {
	/*display: none;*/
}

@media (max-width: 600px) {
	.facet_sidebar {
	display: none;
	}

}






