

.content {
	font-size: 12px;
	padding: 0;
	width: calc(100% - 115px);
	margin: 0 auto;
	}

.content:after {
	content: '';
	display: block;
	clear: left;
}
.fontsize {
	font-size: 18px
	color: green;
}
.castbox {
	float: left;
	margin: 0 5px;
	text-align: center;
	padding: 5px;
}