h1 {
	font-size: 2.5em;
	color: green;
}
h2 {
	font-size: 1.5em;
	color: white;
}
p {
	font-family: Helvetica, Arial, sans-serif;
}
ul {
	font-family: Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	text-align: center;
	margin-top: 20px;
}
#container {
	height: 100%;
	width: 980px;
	background-color: yellow;
	margin: 0 auto;

}
#nav {
	height: 50px;
	width: 100%;
	background-color: #FFFFFF;

}
#nav-links {
	height: 50px;
	width: 100%;
	background-color: #000000;
	float: left;
}
#nav-links li {
	margin-left: 8%;
	display: inline
}	
#header {
	height: 225px;
	width: 980px;
	background-image: url(../images/banner.png);

}
#slideshow {
	padding-top: 10px;
	margin: 5px;
}
#slideshow h1 {
	text-align: center;
}

#footer {
	height: 50px;
	width: 980px;
	background-color: #000000;
	color: #FFFFFF;
	clear: left;
	background-image: url(../images/JPFooter.png);
}
#content {
	height: 399px;
	background-color: yellow;

}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}


