
#content .trex {
	
	
}

#content .velo {
	
	

}

#content .tric {
	
	
}

#content .dino {
	height: 768px;
	float: left;
	border: 1px solid red;
	width: 33%;
	text-align: center;
}

#content audio {
	position: relative;
	bottom: 0;
	margin-top: 45px;
}

#slideshow {
	width: 780px !important;
}

div p {
	font-size: 13px;
}