

#content .dino {
	height: 768px;
	float: left;
	border: 1px solid red;
	width: 33%;
	text-align: center;
	position: relative;
}

#content audio {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#slideshow {
	width: 780px !important;
}

div p {
	font-size: 13px;
}
