

.content {
	height: 128px;
	width: 768px;
	background-color: black;
	font-size: 12px;
	padding: 0;
	}

.contenttwo {
	height: 25px;
	width: 768px;
	background-color: white;
	font-size: 16px;
	font-family: helvetica;
	color: black;
}

.fontsize {
	font-size: 18px
	color: green;
}
.castbox {
	float: left;
	margin: 0 5px;
	text-align: center
}